# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
*-debug.log

# Coverage
coverage/

# Vite
client/dist/

# Server
server/dist/
